   body{
            margin: 0;
            height: 910px;
            background-image: url("./hello_visual_2.jpg");
            background-size:100%;
            letter-spacing: -0.2px;
            }
        .sub{
            padding: 202px 0 0 162px;
        }
        h1{
            width: 386px;
            height: 466px;
            margin:0;
        }
        h2{
            margin:0;
            font-family:'Lato', sans-serif;
            font-weight: 100;
            font-size: 38px;
            padding: 0 0 0 48px;
            /*border:1px solid #fff;*/
            color: #fff;
        }
        .text{
            display:block;
            font-family:'Lato', sans-serif;
            font-weight: 100;
            font-size: 26px;
            margin: 10px 0 0 48px;
           /* border:1px solid #fff;*/
            color: #fff;
        }